{% extends 'base.html' %}
{% block content %}
{% block title %}Активация аккаунта{% endblock title %}
<section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">Successfully registrated</h1>
                <p class="lead">
                    Ваш аккаунт успешно активирован
                  Для того, чтобы войти в свой аккаунт, пройдите по <a href="{% url 'login' %}">ссылке</a>
                </p>
            </div>
        </div>
</section>
{% endblock content %}
