{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  {% block title %}Зарегистрируйте свой аккаунт{% endblock title %}
<section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">Registration</h1>
                <p class="lead">
                    If you want, you can register in our blog!
                </p>
            </div>
        </div>
    <form name="cForm" id="cForm" class="contact-form" method="post" action="">
                    <fieldset>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">Зарегистрироваться</button>
                </fieldset>
    </form>
</section>

{% endblock content %}