{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">Add Post:</h1>
                <p class="lead">
                    If you want, you can create new post!
                </p>
            </div>
        </div>
     {% if request.user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ post_form|crispy }}
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form }}
        {% endfor %}
        <button type="submit">Добавить позт</button>
    </form>
    {% else %}
    <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">Вам нужно зарегистрироваться</h1>
                <p class="lead">
                    опс
                </p>
            </div>
        </div>
    {% endif %}
</section>
{% endblock %}