{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding s-content--narrow">

        <article class="row entry format-standard" >



            <div class="entry__media col-full " style="margin: center !important;" >
                <div class="entry__post-thumb" style="margin: center !important;">
                   {% for i in post.get_image_all %}
                    <img src="{{ post.get_image }}" srcset="{{ i }}" style="margin: center !important; width: 800px !important; height: 500px !important; text-align: center !important;" alt="нет картинки((">
                    {% endfor %}
                </div>
            </div>


            </div> <!-- s-entry__main -->
            {% if request.user.is_authenticated %}

                {% if not is_favourite %}
                <a style="margin-right:20px;" href="{% url 'favourite_post' pk=post.id %}"><i class="far fa-bookmark"></i></a>
                {% else %}
                <a style="margin-right:20px;" href="{% url 'favourite_post' pk=post.id %}"><i class="fas fa-bookmark"></i></a>
                {% endif %}

            {%endif%}


            {% if request.user == post.user %}
            <a style="margin-right:20px;" href="{% url 'delete-post' post.id %}"><i class="fas fa-trash-alt fa-lg"></i></a>
            <a style="margin-right:20px;" href="{% url 'update-post' post.id %}"><i class="fas fa-edit"></i></a>
            {% endif%}

            <div class="entry__header col-full">
                <h1 class="entry__header-title display-1">
                    {{ post.title }}
                </h1>
                <ul class="entry__header-meta">
                    <li class="date">{{ post.created }}</li>
                    <li class="byline">
                        By
                        <a href="#0">{{ post.user }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-full entry__main" style="border-style: solid">

                <p class="lead drop-cap" style="margin-top:30px; margin-bottom:60px;">{{ post.description }}</p>


            </div> <!-- s-entry__main -->

        </article> <!-- end entry/article -->



                    <!-- START commentlist -->
                    <ol class="commentlist">
                        <h1 style="text-align: center; margin-bottom: 50px;" class="display-1 display-1--with-line-sep">Comments:</h1>


                        {% for i in comment %}
                        <li class="depth-1 comment" >

                            {% if request.user.is_authenticated.image.url %}
                            <div class="comment__avatar">
                                <img class="avatar" src="{{i.user.image.url}}" alt="" width="50" height="50">
                            </div>
                            {% endif %}

                            <div class="comment__content" style="margin-right: 170px;">

                                <div class="comment__info">
                                    <div class="comment__author">{{ i.user }}</div>

                                    <div class="comment__meta">
                                        <div class="comment__time">{{ i.created }}</div>
<!--                                        <div class="comment__reply">-->
<!--                                            <a class="comment-reply-link" href="#0">Reply</a>-->
<!--                                        </div>-->
                                        {% if request.user == i.user %}
                                        <div class="comment__reply">
                                            <a class="comment-reply-link" href="{% url 'delete-comment' i.id%}">Delete</i></a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="comment__text">
                                <p>{{ i.body}}</p>
                                </div>

                            </div>

                        </li> <!-- end comment level 1 -->
                        {% endfor %}
                    </ol>
                    <!-- END commentlist -->

                </div> <!-- end col-full -->
            </div> <!-- end comments -->


 <section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">Add comments:</h1>

            </div>
        </div>
     {% if request.user.is_authenticated %}
     <div class="container">
    <form name="cForm" id="cForm" class="contact-form" method="post" action="">
                    <fieldset>
                        {% csrf_token %}
<!--                        <div class="col md-6">-->
<!--                        <input hidden name="user" type="text" value="{{request.user.pk}}"-->
<!--                               </div>-->
<!--                        <input hidden name="post" type="text" value="{{post.id}}"-->

                        {{ form|crispy }}

                        <button type="submit">добавить коментарий</button>
                </fieldset>
    </form>
     </div>
    {% else %}
    <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">Вам нужно зарегистрироваться для того чтобы вы смогли оставить свой коментарий</h1>

            </div>
        </div>
    {% endif %}
 </section>

{% endblock %}