{% extends 'base.html' %}
{% block content %}

<section class="s-content s-content--top-padding s-content--narrow">

        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="display-1 display-1--with-line-sep">Registration</h1>
                <p class="lead">
                    If you want, you can register in our blog!
                </p>
            </div>
        </div>
     <div class="container">
    <form name="cForm" id="cForm" class="contact-form" method="post" action="">
                    <fieldset>
    {% csrf_token %}
    {{ post_form.as_p }}
    {{ formset.management_form }}
    {% for form in formset %}
    {{ form }}
    {% endfor %}
    <button type="submit">Редактировать</button>
                </fieldset>
    </form>
     </div>
</section>


{% endblock %}